<body>
  <form id="dropFileForm" action="/home" method="post" enctype="multipart/form-data">
    <input type="file" name="img" id="fileInput">

    <label for="fileInput" id="fileLabel" >
      <i class="fa fa-download fa-5x"></i>
      <br>
      <span id="fileLabelText">
        Choose a file
      </span>
      <br>
      <span id="uploadStatus"></span>
    </label>

    <input type="submit" value="Upload" class="uploadButton">
  </form>

</body>
